use-cases/05-nba/stepfunctions/nba-daily-pipeline.asl.json
{"Comment":"NBA Daily Pipeline: Neptune Enrichment (includes signals) → Batch NBA Generation","StartAt":"NeptuneEnrichment","States":{"NeptuneEnrichment":{"Type":"Task","Resource":"arn:aws:lambda:eu-west-1:519124228967:function:aibank-nba-neptune-enrichment","Parameters":{"step":"all"},"ResultPath":"$.enrichment","TimeoutSeconds":900,"Retry":[{"ErrorEquals":["States.ALL"],"MaxAttempts":2,"IntervalSeconds":30}],"Catch":[{"ErrorEquals":["States.ALL"],"Next":"ReportFailure","ResultPath":"$.error"}],"Next":"GetCustomerList"},"GetCustomerList":{"Type":"Task","Resource":"arn:aws:lambda:eu-west-1:519124228967:function:aibank-nba-batch-generator","Parameters":{"action":"list_customers"},"ResultPath":"$.customers","Next":"BatchGenerate"},"BatchGenerate":{"Type":"Map","ItemsPath":"$.customers.customer_ids","MaxConcurrency":40,"ItemProcessor":{"ProcessorConfig":{"Mode":"INLINE"},"StartAt":"GenerateNBA","States":{"GenerateNBA":{"Type":"Task","Resource":"arn:aws:lambda:eu-west-1:519124228967:function:aibank-nba-batch-generator","Parameters":{"customer_ids.$":"States.Array($)"},"End":true}}},"ResultPath":"$.batch_results","Catch":[{"ErrorEquals":["States.ALL"],"Next":"ReportFailure","ResultPath":"$.error"}],"Next":"ReportSuccess"},"ReportSuccess":{"Type":"Task","Resource":"arn:aws:lambda:eu-west-1:519124228967:function:aibank-nba-batch-generator","Parameters":{"action":"report_status","status":"SUCCESS","enrichment.$":"$.enrichment"},"End":true},"ReportFailure":{"Type":"Task","Resource":"arn:aws:lambda:eu-west-1:519124228967:function:aibank-nba-batch-generator","Parameters":{"action":"report_status","status":"FAILED","error.$":"$.error"},"ResultPath":"$.report","Next":"FailPipeline"},"FailPipeline":{"Type":"Fail","Error":"PipelineError","Cause":"NBA Daily Pipeline failed"}}}